.head_prim{
  height:60px;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  border-bottom: 3px solid #000;
  background-color:#fff;
  overflow: hidden;
}

.head_right{
position: absolute;
right:0px;
top:0px;
height: 60px;
border-left: 1px solid #000;
display: flex;
flex-direction: row
}

.head_left{
  position: absolute;
  left:0px;
  top:0px;
  height: 60px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: row
}

.left_menu{
  height: 60px;
  padding: 10px;
  border-right: 1px solid #000;
}

.left_logo{
  height: 60px;
  padding: 20px;
}

.right_button{
  height: 60px;
  padding: 20px;
  border-left: 1px solid #000;
}

.right_persona{
  height: 60px;
  padding: 10px;
  border-right: 1px solid #000;
}

