.head_prim{
  height:60px;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  border-bottom: 3px solid #000;
  background-color:#fff;
  overflow: hidden;
}

.head_right{
position: absolute;
right:0px;
top:0px;
height: 60px;
padding: 10px;
border-left: 1px solid #000;
}

.head_left{
  position: absolute;
  left:0px;
  top:0px;
  height: 60px;
  padding: 10px;
  border-right: 1px solid #000;
}
