.head_prim{
  height:60px;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  border-bottom: 3px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  background-color:#fff;
  overflow: hidden;
}

.head_right{
position: absolute;
right:0px;
top:0px;
height: 60px;
border-left: 1px solid #ebebeb;
display: flex;
flex-direction: row;
max-width: 50%;
}

.head_left{
  position: absolute;
  left:0px;
  top:0px;
  height: 60px;
  border-right: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.left_menu{
  height: 60px;
  padding: 17px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}

.left_logo{
  height: 60px;
  padding: 10px;
  border-right: 1px solid #ebebeb;
}

.search_ico{
  height: 60px;
  padding: 17px;
}

.Left_search{
  height: 60px;
  padding: 10px 15px 10px 0px;
}

.right_button{
  height: 60px;
  padding: 15px;
  border-right: 1px solid #ebebeb;
}

.right_persona{
  height: 60px;
  padding: 15px;
  border-right: 1px solid #ebebeb;
}

.addin_form{
  position: relative;
  overflow: hidden;
  min-width: 300px;
  max-width: 400px;
  height: 450px;
  min-height: 450px;
  max-height: 450px;
  border: 1px solid #E7E8E8;
}

.addin_head{
 height:44px;
 border-bottom: 1px solid #E7E8E8;
 padding: 20px;
}

.addin_body{
  padding: 20px;
  height: 400px;
}

.addin_foot{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid #E7E8E8;
  background: #FAFAFA;
  padding: 20px;
}

.addin_button{
  min-width: 100%;
  width: 100%;
}
